# Copyright (C) 2014 Universidad Politecnica de Madrid
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

IDM_ROOT = './'
KEYSTONE_ROOT = IDM_ROOT + 'keystone/'
HORIZON_ROOT = IDM_ROOT + 'horizon/'

# Hosts
HOSTS = {
    'keystone': ['user@host'],
    'horizon': ['user@host'],
}

# Development settings
KEYSTONE_DEV_DATABASE = 'keystone.db'
HORIZON_DEV_ADDRESS = '127.0.0.1:8000'

# Production settings
KEYSTONE_PROD_DATABASE = 'keystone'

# TODO(garcianavalon) sync this with the extension,
# see https://trello.com/c/rTsUMnjw
INTERNAL_ROLES = {
    'provider': [0, 1, 2, 3, 4],
    'purchaser': [3],
}
INTERNAL_PERMISSIONS = [
    'Manage the application',
    'Manage roles',
    'Get and assign all application roles',
    'Manage Authorizations',
    'Get and assign only owned roles',
]

# TODO(garcianavalon) sync with local_settings.py
KEYSTONE_DEFAULT_DOMAIN = 'default'

IDM_USER_CREDENTIALS = {
    'username': 'idm',
    'password': 'idm',
    'project': 'idm',
    'domain': 'default',
}

KEYSTONE_ADMIN_PORT = '35357'
KEYSTONE_PUBLIC_PORT = '5000'
KEYSTONE_ADMIN_TOKEN = 'ADMIN'

CONTROLLER_PUBLIC_ADDRESS = '127.0.0.1'
CONTROLLER_ADMIN_ADDRESS = '127.0.0.1'
CONTROLLER_INTERNAL_ADDRESS = '127.0.0.1'

# For test_data
FIWARE_DEFAULT_APPS = [
    'Cloud',
    'Mashup',
    'Store',
]


UBUNTU_DEPENDENCIES = {
	'horizon': [
		'python-dev',
        'python-virtualenv',
        'libssl-dev',
        'libffi-dev',
        'libjpeg8-dev',
	],
    'keystone': [
        'python-dev',
        'python-virtualenv',
        'libxml2-dev',
        'libxslt1-dev',
        'libsasl2-dev',
        'libssl-dev',
        'libldap2-dev',
        'libffi-dev',
        'libsqlite3-dev',
    ],
    'mysql': [
        'libmysqlclient-dev',
        'python-mysqldb',
    ],
    'sqlite': [
        'libsqlite3-dev',
    ],
}